.mobile-menu__btn-open {
  position: absolute;
  top: 10px;
  right: 10px;

  display: block;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: var(--white);
  border: solid 1px var(--text-color);
  border-radius: 4px;
}

.mobile-menu__btn-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;

  fill: var(--text-color);
}

.mobile-menu {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  width: calc(100vw - 32px);
  height: calc(100% - 20px);

  background-color: var(--backdrop);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-250-cubic),
    visibility var(--transition-250-cubic);
  // overflow-y: scroll;
}

.mobile-menu.is-open {
  left: 50%;

  transform: translateX(-50%);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow-y: scroll;
}

.mobile-menu__container {
}

.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  display: block;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: var(--white);
  border: solid 1px var(--text-color);
  border-radius: 4px;
}

.mobile-menu__btn-close-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;

  fill: var(--text-color);
}

@media screen and (min-width: 425px) {
  .mobile-menu {
    // max-width: initial;
    width: 385px;
  }
}

.mobile-menu__sidebar {
  display: block;
  width: 250px;
  padding-top: 40px;

  background-color: var(--aside-background-color);
}

.mobile-menu__sidebar-img {
  margin-bottom: 50px;
}

.mobile-menu__contacts-container {
  margin-bottom: 50px;
  margin-left: 30px;
}

.mobile-menu__contacts-title {
  margin-bottom: 8px;

  font-size: 22px;
  line-height: 1.25;
}

.mobile-menu__contacts-list {
  margin-bottom: 12px;
}

.mobile-menu__contacts-item {
}

.mobile-menu__contact-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}

.mobile-menu__contacts-tel {
  font-weight: 400;
  font-size: 14px;
}

.mobile-menu__contacts-mail {
  font-size: 14px;

  text-decoration: underline;

  color: var(--color-link);
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
}

.mobile-menu__social-item {
}

.mobile-menu__social-link {
  display: block;
  width: 24px;
  height: 24px;

  background-color: var(--white);

  border-radius: 50%;
  scale: 1;

  transition: scale var(--transition-250-cubic);

  &:hover,
  &:focus {
    scale: 1.15;
  }
}

.linkedin {
  fill: var(--linkedin-color);
}

.facebook {
  fill: var(--facebook-color);
}

.github {
  fill: var(--github-color);
}

.telegram {
  fill: var(--telegram-color);
}

.whatsapp {
  fill: var(--whatsapp-color);
}

.mobile-menu__tech-skills__container {
  margin-bottom: 50px;
  margin-left: 30px;
}

.mobile-menu__tech-skills__title {
  margin-bottom: 8px;

  font-size: 22px;
  line-height: 1.25;
}

.mobile-menu__tech-skills__list {
  margin-left: 20px;

  list-style: initial;
}

.mobile-menu__tech-skills__item {
}

.mobile-menu__tech-skills__item::marker {
  color: var(--color-university);
}

.mobile-menu__tech-skills__text {
  font-size: 14px;
  line-height: 1.71;
}

.mobile-menu__soft-skills__container {
  margin-left: 30px;
  padding-bottom: 30px;
}

.mobile-menu__soft-skills__title {
  margin-bottom: 8px;

  font-size: 22px;
  line-height: 1.25;
}

.mobile-menu__soft-skills__list {
  margin-left: 20px;

  list-style: initial;
}

.mobile-menu__soft-skills__item::marker {
  color: var(--color-university);
}

.mobile-menu__soft-skills__text {
  font-size: 14px;
  line-height: 1.71;
}

.mobile-menu__mobile-menu__sidebar-img {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-open {
    display: none;
  }
}
