.position__title {
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 1.25;
}

.position__company {
  margin-bottom: 12px;
  margin-left: 8px;

  color: var(--color-university);

  font-size: 16px;
  line-height: 1.25;
}

.position__period {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.25;

  color: var(--text-color);
}

.position__period-divide {
  margin-left: 6px;
  margin-right: 6px;
}

.position__list {
  list-style: initial;
}

.position__list-item {
  margin-bottom: 6px;
  margin-left: 16px;

  color: var(--text-color);
}

.position__list-item:last-child {
  margin-bottom: 0;
}

.position__list-descr {
  font-size: 14px;
  line-height: 1.25;
}
