body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-slate);
    font-size: 16px;
    background-color: var(--body-background-color);
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}