.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 385px;
    margin-right: auto;
    margin-left: auto;
    // padding-top: 80px;
    // padding-right: 20px;
    // padding-bottom: 20px;
    // padding-left: 20px;

    background: var(--white);
    box-shadow: var(--box-shadow);
}

@media screen and (min-width: 425px) {
    .container {
        max-width: initial;
        width: 385px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 688px;
        // padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1120px;
        // padding-top: 50px;
        // padding-right: 40px;
        // padding-bottom: 50px;
        // padding-left: 40px;
    }
}