.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: calc(100vw - 32px);
  margin-right: auto;
  margin-left: auto;

  background: var(--white);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 425px) {
  .container {
    max-width: initial;
    width: 385px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 688px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
