.education {}

.education__title {
    margin-bottom: 12px;

    font-size: 22px;
    line-height: 1.23;
}

.education__list {}

.education__item {
    margin-bottom: 24px;
}

.education__item:last-child {
    margin-bottom: 0;
}

.education__university {
    margin-bottom: 12px;

    font-size: 16px;
    line-height: 1.25;

    color: var(--color-university);
}

.education__faculty {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
}

.education__faculty-group {
    font-weight: 500;

    color: var(--text-color);
}

.education__period {
    font-size: 12px;
    line-height: 1.25;
}

.education__period-divide {
    margin-right: 8px;
    margin-left: 8px;

    color: var(--black);
}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}