.header {
    border-bottom: 1px solid var(--accent-color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation__logo {
    display: block;
    padding: 25px 0 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color-iris);
}

.navigation__logo-studio {
    color: var(--dark-color-navy-blue);
}

.mobile-menu__btn-open {
    margin-left: auto;
    width: 32px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.mobile-menu__open-icon {
    fill: var(--dark-color-navy-blue);
}

@media screen and (max-width: 767px) {
    .navigation__list {
        display: none;
    }

    .adress {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu__btn-open {
        display: none;
    }

    .navigation__logo {
        padding: 25px 0;
    }

    .navigation__list {
        display: flex;
        margin-left: 120px;
    }

    .navigation__list-link {
        display: block;
        position: relative;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0 23px;
        transition: color var(--transition-250-cubic);

        &.current {
            color: var(--pressed-state-color-ocean);
        }

        &:hover,
        &:focus {
            color: var(--pressed-state-color-ocean);
        }

        &.current::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background-color: var(--primary-brand-color-iris);
            border-radius: 2px;

        }

        &::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background-color: transparent;
            border-radius: 2px;
            transition: background-color var(--transition-250-cubic);
        }

        &:hover::after,
        &:focus::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background-color: var(--primary-brand-color-iris);
            border-radius: 2px;
        }
    }

    .navigation__list-item:not(:first-child) {
        margin-left: 40px;
    }

    .adress {
        margin-left: auto;
    }


    .adress__link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color var(--transition-250-cubic);

        &:hover,
        &:focus {
            color: var(--pressed-state-color-ocean);
        }
    }

    .adress__item:first-child {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {

    .navigation__list {
        margin-left: 76px;
    }

    .adress__list {
        display: flex;
        column-gap: 40px;
    }

    .adress__item:first-child {
        margin-bottom: 0px;
    }

    .adress__link {
        padding-top: 24px;
        padding-bottom: 23px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}