.hero {
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero.overlay {
    max-width: 428px;
    max-height: 432px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--dark-color-navy-blue);
    background-image: linear-gradient(to right,
            var(--overlay-hero-image),
            var(--overlay-hero-image)), url(../img/backgroung-hero-2-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    text-align: center;
}

.hero-title {
    max-width: 320px;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color-white);
}

.hero-button {
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
}

@media screen and (max-width: 427px) {
    .hero-title {
        max-width: calc(100vw / 428 * 320);
        font-size: calc(100vw / 428 * 36);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero.overlay {
        background-image: -webkit-gradient(linear,
                left top,
                right top,
                from(var(--overlay-hero-image)),
                to(var(--overlay-hero-image))),
            url('../img/backgroung-hero-2-mobile-@2x.jpg');
        background-image: -o-linear-gradient(left,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-mobile-@2x.jpg');
        background-image: linear-gradient(to right,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-mobile-@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero.overlay {
        max-width: 768px;
        max-height: 436px;
        background-color: var(--dark-color-navy-blue);
        background-image: linear-gradient(to right,
                var(--overlay-hero-image),
                var(--overlay-hero-image)), url(../img/backgroung-hero-2-tablet.jpg);
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero.overlay {
        background-image: -webkit-gradient(linear,
                left top,
                right top,
                from(var(--overlay-hero-image)),
                to(var(--overlay-hero-image))),
            url('../img/backgroung-hero-2-tablet-@2x.jpg');
        background-image: -o-linear-gradient(left,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-tablet-@2x.jpg');
        background-image: linear-gradient(to right,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-tablet-@2x.jpg');
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero.overlay {
        max-width: 1440px;
        max-height: 600px;
        background-color: var(--dark-color-navy-blue);
        background-image: linear-gradient(to right,
                var(--overlay-hero-image),
                var(--overlay-hero-image)), url(../img/backgroung-hero-2-desktop.jpg);
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero.overlay {
        max-width: 1440px;
        height: 600px;
        background-image: -webkit-gradient(linear,
                left top,
                right top,
                from(var(--overlay-hero-image)),
                to(var(--overlay-hero-image))),
            url('../img/backgroung-hero-2-desktop-@2x.jpg');
        background-image: -o-linear-gradient(left,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-desktop-@2x.jpg');
        background-image: linear-gradient(to right,
                var(--overlay-hero-image),
                var(--overlay-hero-image)),
            url('../img/backgroung-hero-2-desktop-@2x.jpg');
    }
}