.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.portfolio-buttons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--gap) * 2) calc(var(--gap) * 3);
    width: 270px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
}

.portfolio-buttons__btn {
    min-width: fit-content;
    min-height: 40px;
    padding: 8px 16px;
}


.card__list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 6);
}

.card__item {
    max-width: 396px;
}

.card__link {
    display: block;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition-250-cubic);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.card__img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.card__img-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 40px 32px 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color-cloud);
    background-color: var(--primary-brand-color-iris);
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform var(--transition-250-cubic);

    .card__link:hover &,
    .card__link:focus & {
        transform: translateY(0);
    }
}


.card__text {
    width: 100%;
    padding: 32px 15px 31px 15px;
    border: 1px solid #F4F4FD;
    border-top: none;
}

.card__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-navy-blue);
}

.card__content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


@media screen and (min-width: 768px) {
    .portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-buttons__list {
        width: 100%;
        margin-bottom: 64px;
    }

    .portfolio-buttons__btn {
        min-height: 48px;
        padding: 11px 23px;
    }

    .card__list {
        gap: calc(var(--gap) * 9) calc(var(--gap) * 3);
    }

    .card__item {
        width: 356px;
    }

}

@media screen and (min-width: 1200px) {
    .portfolio {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .portfolio-buttons__list {
        margin-bottom: 72px;
    }

    .card__list {
        gap: calc(var(--gap) * 6) calc(var(--gap) * 3);
    }

    .card__item {
        width: 360px;
    }
}