.projects {
  padding-right: 15px;
}

.projects__title {
  margin-bottom: 12px;

  font-size: 22px;
  line-height: 1.25;
}

.projects__list {
  margin: 0;
}

.projects__item {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 700;
}

.projects__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__link {
  font-weight: 500;
  text-decoration: underline;

  color: var(--color-link);
}

.projects__descr {
  flex-shrink: 0;

  font-weight: 500;
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
