.value-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(var(--gap) * 9);
}

.value-list__item-thumb {
    display: none;
}

.value-list__item-title {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color-navy-blue);
}

.value-list__item-content {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .value-list {
        column-gap: calc(var(--gap) * 3);
    }

    .value-list__item {
        max-width: 356px;
    }

    .value-list__item-thumb {
        display: none;
    }

    .value-list__item-title {
        text-align: left;
    }

}

@media screen and (min-width: 1200px) {
    .value {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .value-list__item {
        max-width: 264px;
    }

    .value-list__item-thumb {
        display: flex;
        height: 112px;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;

        background-color: var(--light-color-cloud);
        border-radius: 4px;
    }

    .value-list__item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .value-list__item-content {
        font-weight: 400;
    }
}