.work-exp {
  padding-right: 15px;
}

.work-exp__title {
  margin-bottom: 12px;

  font-size: 22px;
  line-height: 1.25;
}

.up-to-now {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.up-to-now__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
}

.up-to-now__item {
  margin-bottom: 6px;

  font-size: 14px;
}

.up-to-now__item:last-child {
  margin-bottom: 0;
}

.position__item {
  margin-bottom: 12px;
}

.position__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .work-exp {
    width: 525px;
  }
}
