.print-link {
  height: 150px;
  margin-top: 50px;
  margin-left: 50px;
}

.print-link__link {
  display: flex;
  column-gap: 30px;
}

@media print {
  .print-link {
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
  }

  .print-link__link {
    display: flex;
    column-gap: 30px;
  }
}
